h1{
	display: block; 
	font-size: 2em; 
	margin-top: 0.67em; 
	margin-bottom: 0.67em; 
	margin-left: 0; 
	margin-right: 0; 
	font-weight: bold;
}

nav{
	background-color: #ddd;
	padding: 25px 0; 
	text-align: left;
  }

nav ul li{
	background-color: lightpink;
	padding:10px;
	width:25%;
	border:1px solid black;
	display: inline;
}

nav ul #active{
	background-color: #ffddbb;
}

nav a{

	font-weight: bold;
	text-decoration: none; 
}

body{
	font-family: "Palatino Linotype", "Book Antiqua", 'Palatino', serif;
	background-color: #737373;
  	font-size: 18px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

header, main, nav, footer{
	border: 1px solid grey;
	margin-bottom: 10px;
}

img{
    height: 200px;
    width:inherit;
    border: 3px solid blue;
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
}

@media all and (min-width: 800px){
	nav{
	  padding: 30px 0px;
	  text-align: right;
	  vertical-align: middle;
	}
}